/* 
This dead simple column system imitates basic bootstrap grid behaviour.
It works with three tiers of classes which are activated when screen width is larger or equal to the coresponding breakpoint.
For instance col-md-12 will cause an element to be 12 columns wide for every screen size larger or equal to 600px.
Because lg classes override md classes it is possilble to add col-lg-6 to that element to change its behaviour above 1024px.
*/

$grid-breakpoints: (
  sm: 0px,
  md: 600px,
  lg: 1024px
);

.row {
    display: flex;
    flex-wrap: wrap;
    //This provides a fallback when no class is activated (all elements stack on top of each other).
    & > * {
        width: 100%;
    }
}

@mixin col($infix) {
    @for $i from 1 through 12 {
        .col-#{$infix}-#{$i} {
            width: 100% / (12 / $i);
        }
    }
}

@each $infix, $breakpoint in $grid-breakpoints {
    @media screen and (min-width: #{$breakpoint}){
        @include col($infix)
    }
}