$grid-breakpoints: (
  sm: 0px,
  md: 600px,
  lg: 1024px
);

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    & > * {
        width: 100%;
    }
}

@mixin col($infix) {
    @for $i from 1 through 12 {
        .col-#{$infix}-#{$i} {
            width: 100% / (12 / $i);
        }
    }
}

@each $infix, $breakpoint in $grid-breakpoints {
    @media screen and (min-width: #{$breakpoint}){
        @include col($infix)
    }
}