@import '_reset';
@import '_columns';

$gutters: 30px;
$background-color: #e0e4cc;
$border: 2px solid black;

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px 30px 0 30px;
}

.header__title{
    display: flex;
    align-items: center;
}

.title__text{
    font-size: 2rem;
    margin-left: 10px;

    @media screen and (max-width: 480px){
        display: none;
    }
}

.header__hamburger{
    @media screen and (min-width: 480px){
        display: none;
    }
}

.navbar {
    display: flex;
    @media screen and (max-width: 480px){
        display: none;
    }
}

.navbar__item {
    font-size: 1rem;
    margin: 0 10px 0 10px;
}

.content-wrapper{
    flex: 1 0 auto;
}

main {
   padding: 0 $gutters / 2 0 $gutters / 2; 
}

.lorem {
    margin: $gutters / 2;
    border: $border;
    background-color: $background-color;
    min-height: calc(100% - #{$gutters});
    font-family: Arial, sans-serif;
}

.lorem__title-wrapper {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.lorem__title {
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-bottom: $border;
    border-left: $border;
}

.lorem__title--blue {
    background-color: #69d2e7;
}

.lorem__title--orange {
    background-color: #f38630;
}

.lorem__title--pink {
    background-color: #e9aeaf;
}

.lorem__text {
    padding: 15px;
    text-align: justify;
    line-height: 1.2rem;
}

.footer {
    height: 150px;
    border-top: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    font-family: Arial, sans-serif;
    line-height: 1.2rem;
}

.footer__name {
    font-weight: bold;
}